* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: lightgray;
  padding: 20px 0 0 0;
  margin: 0;
  box-sizing: border-box;
  height: 100hw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 90vh;
  width: 80%;
  border-radius: 15px;
}

img {
  height: 20%;
  width: 20%;
}

.inputlogin {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.inputlogin:focus {
  border: 3px solid #555;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 200px;
  width: 400px;
  padding: 0 20% 0;
}

.buttonlogin {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.buttonlogin:hover {
  background-color: green;
}

h1{
  color: #04AA6D;
  font-size: 3em;
}

.mandartexto {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.buttonfinalizar {
  background-color: blue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonfinalizar:hover {
  background-color: #404D95;
}

input {
  width: 300px;
}


.buttoncadastrase:link, .buttoncadastrase:visited {
  background-color: lightgreen;
  color: gray;
  font-weight: bold;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.buttoncadastrase:hover, .buttoncadastrase:active {
  background-color: red;
}